#index {
    font-family: helvetica, arial, sans-serif;
    margin: auto;
    line-height: 1.4;
    background-color: rgb(0, 0, 0);
    color: rgb(100, 100, 100);
}

#music {
    font-family: helvetica, arial, sans-serif;
    margin: auto;
    line-height: 1.4;
    background-color: rgb(80, 80, 80);
}


#madeBy {
    font-size: 10px;
    text-align: center;
}

.header {
    text-align: center;
}

#baner {
    text-align: center;
}

#baner1 {
    text-align: center;
}

#kontent {
    text-align: center;
}

#kontakt {
    text-align: center;
}

#player {
    text-align: center;
    margin-top: 10%;
}
#strona1 {
    font-family: helvetica, arial, sans-serif;
    margin: auto;
    line-height: 1.4;
}
#covid {
    font-family: helvetica, arial, sans-serif;
    margin: auto;
    text-align: center;
    line-height: 1.4;
}
